.jumbotron{
	background: url(img/abstract.jpg) no-repeat center center fixed;
	background-size: cover;
	color: #fff;
	height: 100vh;
	
}

.hero{
	text-align: center;
	font-size: 75px;
	letter-spacing: -0.05em;
	line-height: 1.2em;
}

.car{
	margin-bottom: 10px;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

@media (max-width: 396px) {
  element.style {
    width: 100%;
  }		
  body {
    width: 100%;
  }
  .hero {
    font-size: 70px;
  }
}


/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #74b9ff;
  min-height: 100vh;
  overflow-x: hidden;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}


#img-logo{
	max-width: 100px;
	max-height: 100px;
	margin: 0 auto;
}

#signup-modal .modal-dialog{
	width: 350px;
}

#login-modal .modal-dialog{
	width: 350px;
}

#rooms-modal .modal-dialog{
	width: 350px;
}

#signup-modal input[type=text], input[type=password]{
	margin-top: 10px;
}

#login-modal input[type=text], input[type=password]{
	margin-top: 10px;
}

#signup-modal input[type=checkbox]{
	margin-top: 10px;
}

#login-modal input[type=checkbox]{
	margin-top: 10px;
}

.footer{
	color: #fff;
	bottom: 0;
}
